

.header-wrapper {
    display: flex;
    flex-direction: row;
}

.div1{
    flex-grow: 4;
}

.div2{
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
    font: 400 11px Proxima Regular,arial,sans-serif;
    color: #737373;
    line-height: 1.5;
    margin-bottom: 2px;
    padding-left: 5px;
    height: 38px;
}