
//Vars
$brand: #FF7F00;
$comp: #367F78;
$text: #464646;
$positive: #4db6ac;
$mono: #737373;
$monoLight: #F0F0F0;
$white: #ffffff;




// selection box
button.btn-main-blue{
    background-color: $brand;
}

.jcf-select-drop .jcf-hover, .jcf-list-box .jcf-selected {
    background: $comp;
    border-radius: 0;
}

.front-form-sec .jcf-select {
    border-color: $comp !important;
    border-radius: 0;
}

.jcf-list .jcf-option {
    border-radius: 0;
}

.ui-slider-horizontal .ui-slider-handle, .ui-widget-header  {
    background: $comp;
}

.front-page-form {
    border-radius: 0;
}

//fonts
@font-face {
    font-family: proxima-nova;
    src: url(/assets/ProximaNova-Regular.woff2);
}
@font-face {
    font-family: museo;
    src: url(/assets/Museo-700.woff2);
}

h1, h2, h3, h4, h5,  .detail-card.open-tab .detail-card-header h2{
    font-family: museo, arial, sans-serif !important;
}

h2, .detail-card.open-tab .detail-card-header h2{
    font-size: 20px;
    color: $text;
}

body, table, td, tr, th, p, div, a, ul, ol, li, span, .form-question-inner-trem, input.custom-input, .plan-filter-box-name, .plan-detail-descp-text p {
    font-family: proxima-nova, sans-serif !important;
    color: $text;
}

.front-form-sec-title h5,
.front-form-range-val span,
.filter-form-range-val span,
a.plan-filter-clear,
.plan-contact-info-box
{
    font-weight: 700;
    color: $text;
}

button.primary-button, a.primary-button, .plan-list-btn a.primary-button{
    font-family: proxima-nova, sans-serif;
    background: $brand;
    border-radius: 45px;
    min-width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.plan-list-btn a.primary-button{
    min-width: 190px;
}

//Opt in box 
// .mati-form-label{
//     border-bottom: 0px solid rgba(0,0,0,0);
//     color: $text;
// }

// .mati-form-label:before, .mati-form-label:after{
//     width: 0px;
// }

// input.custom-input {
//     border-radius: 0;
// }

// .modal-content{
//     border-radius: 0;
// }

// .icon-mail{
//     color: $mono;
// }

// //Filter
// .custom-radio [type="radio"]:checked+span:before {
//     border: 1px solid $comp;
//     background: $comp;
// }

// .bar-step-main ul li.completed .bar-step span.bar-step-count{
//     color: $comp;
//     border: 1px solid $comp;
// }

// .bar-step-main ul li.active .bar-step span.bar-step-count{
//     background: $comp;
// }

// .plan-list-btn a.cancel-button{
//     color: $comp;
// }

// .plan-value-rate-box{
//     border: 1px solid #f1f1f1;
//     background: rgba(0,0,0,0);
// }

// .custom-checkbox input[type="checkbox"]:checked + span:before {
//     border: 2px solid $comp;
//     background: $comp;
// }

// .plan-list-filter{
//     background-color: $white;
//     color: $text;
//     border: 1px solid #e7e7e7;
// }

// .filter-list-panel-close{
//     background-color: $comp;
// }

//Results
// .plan-basic-info-box ul li:before {
//     color: $comp;
// }

// .plan-value-price{
//     border-left: 1px solid $mono;
// }

// .jcf-select-drop.jcf-select-custom-select-option .jcf-hover, .jcf-list-box .jcf-selected{
//     background: $comp;
// }

// .plan-list-provider-links a {
//     border-bottom: 1px solid $comp;
// }

// .bar-step-main ul li.completed:before{
//     background: $comp;
// }


//T&C Modal
// .modal-header button.close {
//     background: transparent;
//     color: $text;
//     top: 0;
//     right: 0;

//     &::before{
//         content: 'x';
//         font-family: proxima-nova, sans-serif;
//         font-weight: 500;
//     }
// }

// .plan_term_accordion .card-header h4[aria-expanded="true"]{
//     background: $comp;
// }

// //Details
// .plan-detail-tab-main ul li.nav-item a:hover, .plan-detail-tab-main ul li.nav-item a.active{
//     background: $comp;
// }

// .plan-detail-tab-main ul.nav-tabs{
//     border-bottom: 1px solid $comp;
// }

// .plan-detail-descp-title{
//     color: $text;
// }

// .plan-detail-descp-text table.total-price th, .card-info-box table.review-info-table th, table.compare-feature-table th {
//     background: $monoLight;
//     border: 1px solid $monoLight;
// }

// .card-info-box table.review-info-table th, table.compare-feature-table th {
//     border-bottom: 1px white solid;
// }

// .card-info-box table.review-info-table th:last-child, table.compare-feature-table th:last-child {
//     border-bottom: 1px $monoLight solid;
// }

// .plan-detail-descp-text table.total-price td, .card-info-box table.review-info-table td, table.compare-feature-table td{
//     background: white;
//     border: 1px solid $monoLight;
//     &.rate-info{
//         background: white;
//     }
// }

// .plan-detail-tab-main ul.nav-tabs {
//     color: $comp;
// }

// //Back
// a.back-plan-list span, a.back-page-btn span{
//     color: $comp;
// }

// //Your Details
// .accordion-detail-info .detail-card, .detail-card-header h2{
//     border-radius: 0;
// }

// .card-form-field input[type='text'], .card-form-field input[type='email'], .card-form-field input[type='tel'], .card-form-field textarea{
//     border-radius: 0;
//     background: $white;
// }

// input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
//     border: 1px solid $comp;
// }

// .jcf-select-custom-select-option.jcf-select-custom-select-border.jcf-select{
//     background: $white;
//     border-radius: 0;
// }
// .jcf-select-custom-select-option .jcf-list .jcf-option, .jcf-list .jcf-list-content{
//     border-radius: 0;
// }

// .card-form-field.card-field-icon label{
//     color: $comp;
// }

// .selected-plan-list ul li{
//     background: $white;
// }

// .selected-plan-list-rate, .selected-plan-total-rate-box, .edit-card-info:before {
//     color: $text;
// }

// .connection-detail-tab-label input[type="radio"]:checked + .connection-detail-btn, .connection-detail-tab-label input[type="radio"]:checked + .connection-detail-btn, .autocomplete-list-box ul.ui-widget.ui-widget-content li:hover, .radio-field-box input[type="radio"]:checked + label > .radio-field-btn {
//     background: $comp;
// }

// .connection-detail-btn {
//     border-radius: 0;
//     padding: 10px 8px;
// }

// span.tooltip-info-title{
//     color: $text;
// }

// .card-inner-box-label{
//     background: $comp;
// }

// .delivery-address-box, .billing-address-box{
//     border-radius: 0;
// }

//Review
// .accordion-otp-screen .card-header a::after{
//     color: $comp;
// }

// .accordion-otp-screen .card-header a[aria-expanded="true"]{
//     color: $text;
// }

//Compare
// .user-info-summary-btn, .user-info-summary-close{
//     background-color: $comp;
// }

// .compare-accordion-main .card-header .card-header-icon{
//     background: $comp;
// }


//Iframe on iSelect VHP
// #iframewrapper{
//     width: 1110px;
//     height: 343px;
//     overflow: hidden;
//     overflow-y: hidden;

//     #iframeinner{
//         width: 1200px;
//         height: 343px;
//         border: 0px none;
//         resize:none;
//         margin-top: -20px;
//         margin-left: -45px;
//     }
// }




// ============== NEW VERSION ==============

//Fixes for forced Style - don't do this it's lazy, TODO: get CMIET to rem important's
.page-template .btn-primary, 
.page-template .btn-primary.focus, 
.page-template .btn-primary:focus, 
.page-template .btn-primary:hover {
    background: $brand !important;
    border-color: $brand !important;
}


//Buttons
.btn, .btn-primary, .btn.btn-primary{
    font-family: proxima-nova, sans-serif;
    background: $brand;
    border-radius: 45px;
    min-width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    animation: none;
    box-shadow: none;
    text-shadow: none;
    display: block;
}


//Details Modal

.detail-wrap{
    border-radius: 0;
    padding: 1em;

    .detail-close{
        right: 0;
        left: auto;
        position: absolute;
        margin: 0;
        background: none;
        color: $text;
        border-radius: 0;
        margin-top: 0;
        border: 0;
    }

    .inner-detail{
       
        
        .detail-header{
            box-shadow: none;
            
            .row{
                flex-direction: column;

                .btn-primary{
                    float: none;
                    margin-top: 1em;
                }

                h5.detail-head{
                    color: $comp;
                }
            }
        }
    }
}