/* purgecss start ignore */

//Vars
$brand: #FF7F00;
$comp: #367F78;
$text: #464646;
$positive: #4db6ac;
$mono: #737373;
$monoLight: #F0F0F0;
$white: #ffffff;




// selection box
button.btn-main-blue{
    background-color: $brand;
}

.jcf-select-drop .jcf-hover, .jcf-list-box .jcf-selected {
    background: $comp;
    border-radius: 0;
}

.front-form-sec .jcf-select {
    border-color: $comp !important;
    border-radius: 0;
}

.jcf-list .jcf-option {
    border-radius: 0;
}

.ui-slider-horizontal .ui-slider-handle, 
.ui-widget-header, 
.half-wrap .ui-slider-horizontal .ui-slider-handle, 
.half-wrap .ui-widget-header  {
    background: $comp !important;
    border: $white 1px solid !important;
}

.front-page-form {
    border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: $white 1px solid !important;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
table.ui-datepicker-calendar .highlighted, 
.ui-button:active, 
.ui-button.ui-state-active:hover, 
.ui-datepicker-current-day,
.half-wrap .ui-state-active, 
.half-wrap .ui-widget-content .ui-state-active, 
.half-wrap .ui-widget-header .ui-state-active, 
.half-wrap a.ui-button:active, 
.half-wrap table.ui-datepicker-calendar .highlighted, 
.half-wrap .ui-button:active, 
.half-wrap .ui-button.ui-state-active:hover, 
.half-wrap .ui-datepicker-current-day{
    background: $comp !important;
}


//fonts
@font-face {
    font-family: proxima-nova;
    src: url(/assets/ProximaNova-Regular.woff2);
}
@font-face {
    font-family: museo;
    src: url(/assets/Museo-700.woff2);
}

h1, h2, h3, h4, h5,  .detail-card.open-tab .detail-card-header h2, .filter-list-section-title{
    font-family: museo, arial, sans-serif !important;
}

h2, .detail-card.open-tab .detail-card-header h2{
    font-size: 20px;
    color: $text;
}

body, table, td, tr, th, p, div, a, ul, ol, li, span, .form-question-inner-trem, input.custom-input, .plan-filter-box-name, .plan-detail-descp-text p, .plan-container p {
    font-family: proxima-nova, sans-serif !important;
    color: $text;
}

.front-form-sec-title h5,
.front-form-range-val span,
.filter-form-range-val span,
a.plan-filter-clear,
.plan-contact-info-box
{
    font-weight: 700;
    color: $text;
}

button.primary-button, a.primary-button, .plan-list-btn a.primary-button{
    font-family: proxima-nova, sans-serif;
    background: $brand;
    border-radius: 45px;
    min-width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.plan-list-btn a.primary-button{
    min-width: 190px;
}


// ============== NEW VERSION ==============

//Fixes for forced Style - don't do this it's lazy, TODO: get CMIET to rem important's
.page-template .btn-primary, 
.page-template .btn-primary.focus, 
.page-template .btn-primary:focus, 
.page-template .btn-primary:hover,
.page-template .applynow-container a.apply-btn  {
    background: $brand !important;
    border-color: $brand !important;
}


//Buttons
.btn, .btn-primary, button.primary-button, .btn.btn-primary, button, button.filter-result-btn, .filter-clear-btn, button.secondary-button, .applynow-container .apply-btn, button.cancbtnel, button.cancbtnel, .main-wrap .card-form-btn .connection_detail_next, a.sec-btn, a.main-btn, button#continue_apply_now_mobile_plan.primary-button.continue_applyNowPlan, #select_phones  {
    font-family: proxima-nova, sans-serif !important;
    background: $brand !important;
    border-radius: 45px;
    min-width: 250px;
    min-height: auto;
    height: 40px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 19px !important;
    animation: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    display: inline-block;
    padding: 8px 13px !important;
    
}

button.filter-clear-btn, button.secondary-button, button.cancbtnel, a.sec-btn{
    background: $mono !important;
    color: $white !important;
    border-radius: 45px;
}

button.secondary-button, button.cancbtnel, #select_phones{
    margin: 0 !important;
    border: none !important;
    border-radius: 45px !important;
}

a.main-btn:hover{
    background: $brand !important;
}

//Scroll bars
::-webkit-scrollbar-thumb{
    background: $comp !important;
}

//Border Radius on inputs 
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="search"], input[type="range"], textarea, select, .custom-select-form{
    border-radius: 0 !important;
    color: $text !important;

    &:focus{
        border: 1px solid $comp !important;
    }
}

//Checkbox tick
.main-wrap .custom-checkbox input:checked + label:after {
    content: '';
    top: 1px;
    left: 8px;
    width: 5px;
    height: 14px;
    border: solid $comp;
    border-width: 0 2px 2px 0;
}

.loader-box-animate .lds-ring div{
    border-color: $comp transparent transparent transparent;
}


//Main Wrapper for specificity 
.main-wrap{

    .front-form-sec{
        align-items: center;
    }

    .custom-select-form{
        color: $text !important;
    }

    .half-wrap {

        .dotted-area{
            border: 1px $mono solid;
            border-left: 3px solid $comp;
        }

        .ques-wrap .main-question{
            top: 0;
            font-size: 18px;

        }
        
        .ques-wrap .row{
            align-items: center;
        }

        .custom-select-form {
            color: $text !important;
        }

    }

    .mobile-plan-list-section, .sim-plus-mobile-outer{

        .plan-container{
            border-bottom: 3px solid $comp;
            box-shadow: none;
            padding: 0 12px;

            p strong {
                font-size: 22px;
            }

            .elec-top-list{
                border-bottom: none;
                border-left: none!important;

                .deferit-price{
                    background: $white;
                    border-radius: 0;
                    padding: 22px 0;
                }

                .plan-web-view img{
                    width: 130px !important;
                }
            }

            .counter-count, .monthtext{
                display: inline-block !important;
            }
            
            .applynow-container{
                background: $white;
                border-bottom: none;
                border-left: none!important;

                .custom-checkbox label:before {
                    border: $comp 2px solid;
                }
            }

            .plan-list-provider-links a{
                border-bottom: 1px solid $comp;
            }
        }
    }

    //details
    .progress-wrap{
        display: none;
    }

    .screen-welcome-message.start-filling-text{
        background: none;
        text-align: left;
        font-size: 22px;
    }

    .page-title{
        border-bottom: none;

        h4{
            color: $text;
        }
    }
    

    .dotted-area{
        border: 1px solid $mono;
        background: $white;
    }
    .mobile-connection-details .nav-link.active {
        border-color: $comp;
        border-radius: 0 !important;
        background-color: $comp !important;
    }

    #create-update-customer select, #gas_cm_title, select.custom-select, select.custom-select-1{
        background-size: auto;
        border-radius: 0 !important;
    }

    input.custom-input:focus, input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border: 1px $comp solid;
    }

    input:focus, textarea:focus, select:focus {
        box-shadow: 0 0 0 2px $comp !important;
    }

    .mobile-connection-details .nav-tabs .nav-item {
        border: none;
        border-color: white;
        border-radius: 0 !important;
    }

    .mobile-connection-details .nav-tabs>li>a:hover {
        border: none;
        border-color: white;
        border-radius: 0 !important;
    }

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        border: none;
        border-color: white;
    } 

    .radio-opt li{
        border: 1px solid $comp;

        &:hover{
            background: $comp !important;
        }
    }

    .radio-opt input:checked + label {
        background: $comp !important;
    }

    .radio-opt label:hover {
        background-color: $comp !important;
    }

    .btn-box {
        .main-btn i {
            top: 0px;
        }

        @media screen and (max-width:768px) {
            a{
                margin-right: 0;
                margin-bottom: 15px;
            }            
        }
    }



    //Summary

    #oreder_summry_edit2{
        color: $comp;
        text-decoration: underline;
    }

    .selected-plan-section{
        .selected-plan-list ul li{
            float: none;
            padding: 22px 16px;
            border: 1px solid $monoLight;
            background: $white;
        }
        .selected-plan-list-img{
            float: none;
            width: 130px;
            max-height: 130px;
            margin: 8px auto;
            position: relative;
            top: 0;
            left: 0;

            img{
                max-height: inherit;
            }
        }
        .selected-plan-list-title{
            float: none;
            margin: 8px 0;
            font-size: 18px;
            text-align: center;
            span.selected-plan-name{
                font-size: 18px;
                color: $text;
            }
        }
        .selected-plan-list-rate{
            float: none;
            font-size: 18px;
            margin: 8px auto;
            text-align: center;

            sup{
                top: 0em;
                color: $text;
            }
        }

        .selected-plan-total-rate{
            font-size: 18px;
            color: $text;
            background: $monoLight;

            sup{
                top: 0em;
                color: $text;
            }
        }

        .plan-contact-info-box{
            color: $text;
        }
    }
}


//Details Modal

.detail-wrap{
    border-radius: 0;
    padding: 1em;

    .detail-close{
        right: 0;
        left: auto;
        position: absolute;
        margin: 0;
        background: none;
        color: $text;
        border-radius: 0;
        margin-top: 0;
        border: 0;
    }

    .inner-detail{
       max-height: 100%;
        
        #mCSB_1{
            max-height: 100%;
        }

        .mCSB_container{
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .detail-header{
            box-shadow: none;
            
            .row{
                flex-direction: column;

                .btn-primary{
                    float: none;
                    margin-top: 1em;
                }

                h5.detail-head{
                    color: $comp;
                }
            }
        }

        .plan-detail-descp-box{
            height: 100%;
        }
    }
}

//Ts&Cs

#mobile_plan_tnc_popup{

    .modal-header{
        button.close{
            background-color: rgba(0,0,0,0) !important;
            border: none !important;
            min-width: auto;
            top: 0;
            right: 0;

            i{
                color: $text;
            }
        }
    }

    .modal-content{
        border-radius: 0;
        background-color: $white !important;
    }

    .plan_term_accordion .card-header h4{
        border-bottom: 1px solid $comp; 
    }

    .plan_term_accordion .card-header h4[aria-expanded="true"] {
        background: $comp;
    }
}

#crtical_info_summary_popup{
    .modal-header{
        button.close{
            background-color: rgba(0,0,0,0) !important;
            border: none !important;
            min-width: auto;
            top: 0;
            right: 0;

            i{
                color: $text;
            }
        }
    }
    .modal-content{
        border-radius: 0;
        background-color: $white !important;
    }
}


//Filter
.filter-list-section{
    .filter-list-section-title{
        background: $white;
        color: $text;
    }

    span.custom-radio-filter:before{
        background: $comp;
    }
    .ui-widget-header {
        background: $comp !important;
    }

    .panel-group-filter .green-text-color{
        color: $text;
    }
    .filter-close-btn{
        background-color: $white;
        color: $text;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid $comp !important;
}

//Apply Modal
#plan-apply-modal.applyPlanModal{

    .modal-header{
        h5{
            color: $text;
        }
        
        button.close{
            background-color: rgba(0,0,0,0) !important;
            border: none !important;
            min-width: auto;
            top: 0;
            right: 0;

            i{
                color: $text;
            }
        }
    }
    .modal-content{
        border-radius: 0;
        background-color: $white !important;
    }

    .plan_term_accordion .card-header h4{
        border-bottom: 1px solid $comp; 
    }
}

//Phone modal

.modal-select-phone{
    .modal-content{
        background: $white !important;
    }

    .modal-dialog{
        width: 1070px !important;
    }

    .modal-header{
        background: $white !important;
    }

    .modal-body{

        .phone-modaltab-plan{
            color: $text;
        }
    
        .phone-select-tab.nav-pills .nav-link.active, .phone-select-tab.nav-pills .show >.nav-link {
            background: $comp;
        }
    
        .phone-modaltab-box:before {
            background: $comp;
        }
        .phone-modaltab-list > ul > li {
            width: auto;
        }

        .tab-mobile-checkbox-btn:before {
            background: $comp;
        }
    }

    .modal-footer{
        background: $white !important;

         p{
             margin: 1.5em;
         }
    }
}



//Rem footer
.l-section.wpb_row.us_custom_4fb9e5a3{
    display: none;
}

@import "_prod-version"; // old CIMET injected css
@import "_header";
/* purgecss end ignore */